<br />
<div class="container">
  <div class="card border-primary mb-3">
    <h2 class="card-header">Create New Client</h2>
    <div class="card-body">
      <p class="card-text"><%= render 'form', client: @client %></p>
      <a><%= link_to 'Back', clients_path, class: "btn btn-secondary" %></a>
    </div>
</div>
</div>
