
<br />
<div class="container">

    <div class="card border-primary mb-3">
      <h2 class="card-header">New Stock Item</h2>
      <div class="card-body">
        <p class="card-text"><%= render 'form', item: @item %></p>
        <a><%= link_to 'Back', items_path, class: "btn btn-info" %></a>
      </div>
    </div>

</div>
